body {
    background-color: #f2f7fb
}

.info{
    margin-top: 5%;
}

#getDocumentButton{
  margin-bottom: 2%;
  margin-left: 1%;
}

.navbar{
  background: rgb(13, 18, 26);
}

.footer{
    background: rgb(13, 18, 26);
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

.anonimizar{
  margin-top: 5%;
}

.upload_web, .file_upload{
  margin-top: 3%;
}

#alert{
  color: rgb(255, 0, 0);
  padding-top: 3%;
}

#getDocumentButton, #spinner{
  margin-top: 5%;
}

#titleModalError{
  font-weight: bold;
}

.error {
  border: solid 2px #FF0000;  
}

@media only screen and (max-width: 950px) {
  #operations {
    margin-top: 25%;
  }

  #sel{
    margin-top: 1%;
  }

  .links{
    margin-left: 3%;
    margin-bottom: 3%;
  }

  .location{
    margin-top: 3%;
  }
}