<html lang="es">  
<head>  
    <title>Servicio de protección de Datos</title>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.scss') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</head>  
<body>  
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename= 'fonts/icons8-cargar-documento-de-enlace-40.png') }}" alt="Icono"></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#Section1">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Section2">Operaciones</a>
          </li>
        </ul>
    </nav>
    <div id="Section2" class="container anonimizar">
      <h2>Operaciones</h2>
      <hr/>
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-doc-list" data-toggle="list" href="#list-doc" role="tab" aria-controls="doc">Enviar Documento</a>
            <a class="list-group-item list-group-item-action" id="list-op-list" data-toggle="list" href="#list-op" role="tab" aria-controls="op">Enviar URL</a>
            <a class="list-group-item list-group-item-action" id="list-rules-list" data-toggle="list" href="#list-rules" role="tab" aria-controls="rules">Normas</a>
            <a class="list-group-item list-group-item-action" id="list-data-list" data-toggle="list" href="#list-data" role="tab" aria-controls="data">Legislación</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-rules" role="tabpanel" aria-labelledby="list-rules-list">
              <ul>
                <li>El servidor está programado para soportar documentos de cualquier tamaño, 
                  siempre y cuando estos sean pdf,docx,txt,csv,archivos excel.</li>
                <li>Todas las operaciones devuelven un fichero para descargar</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="list-op" role="tabpanel" aria-labelledby="list-op-list">
              <form method="get" id="form_web" onsubmit="return validateForm();">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">URL</span>
                  </div>
                  <input type="text" class="form-control" placeholder="url" id="url_web" for="url" name="url" aria-label="url" aria-describedby="basic-addon1">
                </div>
                <div>     
                  <select name="op" for="op" id="op" class="custom-select">
                      <option value="json" selected>Extraer datos en formato json</option>
                      <option value="encode">Anonimización</option>
                      <option value="csv">Extraer datos en formato csv</option>
                      <option value="target">Etiquetar HTML</option>
                      <option value="disgergation">Disgregación</option>
                      <option value="ofuscation">Ofuscación</option>
                  </select>
                </div>
                <button type="submit" id="html_upload" class="btn btn-primary upload_web">
                  Upload
                </button>
                <button id="getUrlButton" type="button" class="btn btn-primary upload_web">Descargar</button>
                <div id="spinner_web" class="upload_web">
                  <div class="spinner-border text-primary"></div>
                  <p>Un momento, por favor...</p>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-data" role="tabpanel" aria-labelledby="list-data-list">
              Nos compormetemos a no hacer uso de datos ni de información relativa a los documentos enviados,
              cumpliendo con la ley organica de protección de datos.
            </div>
            <div class="tab-pane fade show active" id="list-doc" role="tabpanel" aria-labelledby="list-doc-list">
              <form id="formId" method = "post" enctype="multipart/form-data" onsubmit="return checkFileExtension();"> 
                <div class="row">
                  <div class="col-sm-10">
                    <div class="custom-file">
                      <input type="file" name="file" class="custom-file-input" id="customFile"/>
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary file_upload" >
                      Upload
                    </button>
                  </div>
                </div>
              </form>
              <div>
                  <select id="sel" name="cars" class="custom-select">
                      <option value="1" selected>Extraer datos en formato json</option>
                      <option value="2">Anonimización</option>
                      <option value="3">Extraer datos en archivo csv</option>
                      <option value="4">Disgregación</option>
                      <option value="5">Ofuscación</option>
                  </select>
              </div>
              <div id="spinner">
                <div class="spinner-border text-primary"></div>
                <p>Un momento, por favor...</p>
              </div>
              <button id="getDocumentButton" type="button" class="btn btn-primary">Descargar</button>    
              <p id="alert"></p>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div id = "Section1" class="container info">
      <h2>Información</h2>
      <hr/>
      <div class="jumbotron info">
          <h1 class="display-4">Servicio de Anonimización y Extración de datos Personales</h1>
          <p class="lead">El objetivo que persigue este proyecto es el de eliminar o reducir al mínimo
            los riesgos de identificación de los titulares de los datos personales en textos. Se trata de una
            herramienta con la que se puede reducir los riesgos de identificación asociados a datos
            personales en diferentes tipos de documentos. Es decir, se trata de un sistema
            cuya entrada sean documentos (docx, pdf, txt, hojas de cálculos…) y la salida será la
            ofuscación/disgregación/anonimización de datos personales, en este caso nombres
            propios, apellidos y DNI. Se ha desarrollado aplicando técnicas de procesamiento de
            lenguaje natural, y librerías de Python relacionadas con este ámbito. De la misma forma
            se han utilizado herramientas aplicadas a la creación de servicios web.</p> 
          <hr class="my-4">
          <p>En el siguiente enlace se muestra los contenidos de la ley organica de protección de datos</p>
          <a class="btn btn-primary btn-lg" href="https://www.boe.es/eli/es/lo/2018/12/05/3" role="button">Learn more</a>
      </div>
    </div>
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2>Información</h2>
              <p class="pr-5 text-white-50">Projecto final de Carrera de la ULPGC, realizado por Miguel Ángel Medina Ramírez</p>
              <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                  <li>- <a href="https://www.ulpgc.es/">ULPGC</a></li>
                  <li>- <a href="https://github.com/miguel-kjh">Github</a></li>
                  <li>- <a href="https://www.linkedin.com/in/miguel-%C3%A1ngel-medina-ram%C3%ADrez-22a129188/">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Localización</h4>
              <p>Juan de Quesada, 30</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
              <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col copyright">
              <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
            </div>
          </div>
        </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="titleModalError">ddd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
</body>  
</html>  