<html lang="es">  
<head>  
    <title>Servicio de protección de Datos</title>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.scss') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</head>  
<body>  
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename= 'fonts/icons8-cargar-documento-de-enlace-40.png') }}" alt="Icono"></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Enviar Documentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/web">Tratar Paginas web.</a>
          </li>
        </ul>
    </nav>
    <div  id="operations" class="container anonimizar">
      <h2>Servicio de protección de Datos</h2>
      <hr/>
      <form method="get" id="form_web" onsubmit="return validateForm();">
        <div class="row">
          <div class="col-xl-9">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">URL</span>
              </div>
              <input type="text" class="form-control" placeholder="url" id="url_web" for="url" name="url" aria-label="url" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-xl-3">
            <select name="op" for="op" id="op" class="custom-select">
              <option value="json" selected>Extraer datos en formato json</option>
              <option value="encode">Anonimización</option>
              <option value="csv">Extraer datos en formato csv</option>
              <option value="target">Etiquetar HTML</option>
              <option value="disgergation">Disgregación</option>
              <option value="ofuscation">Ofuscación</option>
            </select>
          </div>
        </div>
        <button type="submit" id="html_upload" class="btn btn-primary upload_web">
          Upload
        </button>
        <button id="getUrlButton" type="button" class="btn btn-primary upload_web">Descargar</button>
        <div id="spinner_web" class="upload_web">
          <div class="spinner-border text-primary"></div>
          <p>Un momento, por favor...</p>
        </div>
      </form>
      <p id="alert"></p>
      <div class="card">
        <div class="card-header">
          Eliga el tipo de dato a procesar
        </div>
        <div class="card-body">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="names">
            <label class="custom-control-label" for="names">Nombres y Apellidos</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="idCards">
            <label class="custom-control-label" for="idCards">Carnets de Identidad</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container info">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Legislación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Ayuda</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <p class="lead">El objetivo que persigue este proyecto es el de eliminar o reducir al mínimo
            los riesgos de identificación de los titulares de los datos personales en textos. Se trata de una
            herramienta con la que se puede reducir los riesgos de identificación asociados a datos
            personales en diferentes tipos de documentos. Es decir, se trata de un sistema
            cuya entrada sean documentos (docx, pdf, txt, hojas de cálculos…) y la salida será la
            ofuscación/disgregación/anonimización de datos personales, en este caso nombres
            propios, apellidos y DNI. 
            </p>
            <h3>Anonimización</h3>
            <p>Proceso general de transformación de dichos datos de manera irrecuperable y a sea borrándolos del texto o 
              sustituyéndolos por algún conjunto de caracteres.</p>
            <h3>Ofuscación</h3>
            <p>La ofuscación se refiere a encubrir el significado de una comunicación haciéndola más confusa y complicada de interpretar, es la transformación de
            los datos de tal manera que se oculte parte de la información de estos.</p>
            <h3>Disgregación</h3>
            <p>Es una técnica muy parecida a la ofuscación pero siguiendo una serie de estándares o procedimientos concretos de ocultación para un tipo
              datos en específico, estas técnicas están marcadas por la <a href="https://www.aepd.es/es">Agencia Española De Protección De Datos</a>.</p>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            <h3>Legislación</h3>
            <p>Nos compormetemos a no hacer uso de datos ni de información relativa a los documentos enviados,
             cumpliendo con la ley organica de protección de datos. </p>
            <p>En el siguiente enlace se muestra los contenidos de la ley organica de protección de datos</p>
            <a class="btn btn-primary btn-md"  target="_blank" href="https://www.boe.es/eli/es/lo/2018/12/05/3" role="button">Learn more</a>
          </div>
          <div id="menu2" class="container tab-pane fade"><br>
            <h3>Ayuda</h3>
            <p>El servidor está programado para realizar también análisis de páginas web en formato html, simplemente enviale un enlace a una página web y el servicios
           devolverá un documento en formato html con los datos tratados</p>
          </div>
        </div>
    </div>
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2>Información</h2>
              <p class="pr-5 text-white-50">Projecto final de Carrera de la ULPGC, realizado por Miguel Ángel Medina Ramírez</p>
              <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0 links">
                  <li><a href="https://www.ulpgc.es/">ULPGC</a></li>
                  <li><a href="https://github.com/miguel-kjh">Github</a></li>
                  <li><a href="https://www.linkedin.com/in/miguel-%C3%A1ngel-medina-ram%C3%ADrez-22a129188/">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Localización</h4>
              <p>Juan de Quesada, 30</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
              <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col copyright">
              <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
            </div>
          </div>
        </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="titleModalError">ddd</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
</body>  
</html>  